.noise {
  background: #fcfcfc;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 201.47);
  .title {
    margin-left: 120px;
  }

  .form {
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: bold;
    color: #333;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .label {
      color: black;
      font-family: "Glegoo", serif;
      font-size: 18px;
      font-weight: 200;
    }

    .field {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: baseline;
      span {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-left: 10px;
        background: #fcfcfc;

        padding: 5px;
        width: 35px;
        height: 17px;
      }
    }

    .input {
      line-height: 28px;
      width: 350px;
      height: 8px;
      border: 2px solid transparent;
      border-bottom-color: #777;

      padding: 0.1rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .input:focus,
    input:hover {
      outline: none;
      padding: 0.2rem 1rem;
      border-radius: 1rem;
      border-color: #7a9cc6;
    }

    .range {
      -webkit-appearance: none;
      appearance: none;

      width: 350px;
      height: 8px;
      background: #eee;
      margin-top: 0.2rem;
      border-radius: 0.3 rem;
      outline-color: #5bceae;
    }

    .range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #7a9cc6;
    }
    button {
      margin-top: 35px;
      color: #090909;
      padding: 0.7em 1.7em;
      font-size: 16px;
      border-radius: 0.5em;
      background: #e8e8e8;
      border: 1px solid #e8e8e8;
      transition: all 0.3s;
      box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    }

    button:hover {
      border: 3px solid white;
    }

    button:active {
      box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
    }
  }
}
